<tr>
  <td>original_url: <%= link.original_url %></td>
  <td>short_url: <%= link_to link.short_url, link_redirect_path(path: link.short_url) %></td>
  <td><%= link_to 'info', link_path(path: link.short_url) %></td>
</tr>
