<p id="notice"><%= notice %></p>

<h1>Links</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
   <%= render partial: 'link', collection: links, as: :link %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>